.movie-desc-wrapper{
    width: 90%;
    margin: 7% auto;
    height: 50vh;
    position: relative;



}

.desc-img-wrapper{
    width: 10%;
    // height: 65%;
    // background-color: red;
    margin: 2% auto;
    margin-bottom: -12%;
    img{
        border-radius: 10%;
        width: 100%;
        height: 100%;
    }
}

.desc-movie{
    background-color: white;
    width: 90%;
    margin: 0px auto;
    padding-top: 12%;
    height: 50vh;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    h1{
        margin: 0;
        margin: 4px;
    }
    p{
        margin: 1px;
        color: rgba(0, 0, 0, 0.742);
    }
}

.theater-wrapper{
    width: 70%;
    margin: 20px auto;
    button{
        margin-left: 0;
    }
}